.button {
  display: block;
  margin: auto;
  padding: 15px 20px;
  color: #FFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  box-shadow: 3px 3px 5px #CACACA;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  filter: brightness(1.2);
  box-shadow: 3px 3px 5px #808080;
  transition: all 0.3s ease-in-out;
}
.button__send {
  width: 150px;
}

.card {
  box-shadow: 5px 5px 10px #cacaca;
  border-radius: 20px;
  width: 100%;
  max-width: 518px;
  margin: 0px auto;
  position: relative;
}
@media screen and (min-width: 576px) {
  .card {
    width: 45%;
  }
}
.card--new::after {
  content: "Nouveau";
  background-color: #99E2D0;
  letter-spacing: 0.5px;
  padding: 8px 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  color: #1d8369;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card__illustration {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}
.card__name {
  margin-bottom: 5px;
  font-size: 16px;
}
.card__location {
  font-size: 16px;
}
.card__like {
  position: relative;
}

.icon__like {
  font-size: 22px;
  color: #818181;
  z-index: 0;
}
.icon__like--fill {
  position: absolute;
  left: 0px;
  font-weight: bold;
  font-size: 22px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}
.icon__like--fill:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.icon__backIndex {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  left: 15px;
  top: 35%;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.title {
  font-size: 20px;
}
.title--primary {
  font-family: "Shrikhand", sans-serif;
}

.header {
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  position: relative;
}
.header__logo {
  width: 50%;
  max-width: 392px;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 14px;
  background-color: #3b3b3b;
  padding: 20px 0px 40px 20px;
  color: #FFF;
}
@media screen and (min-width: 576px) {
  .footer {
    align-items: center;
  }
}
.footer__menu {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
@media screen and (min-width: 576px) {
  .footer__menu {
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
  }
}
.footer__title {
  margin-bottom: 10px;
  font-weight: unset;
  font-size: 18px;
}
.footer__link {
  display: inline-block;
  color: #FFF;
}
.footer__icon {
  margin-right: 10px;
}

.load {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  -webkit-animation: loading 3000ms forwards;
          animation: loading 3000ms forwards;
  z-index: 10;
}
.load__bar {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 90% 0% 90% 10%;
  transform-origin: 0% 130%;
  -webkit-animation: loading__bars 1500ms backwards infinite linear;
          animation: loading__bars 1500ms backwards infinite linear;
}
.load__bar--1 {
  background: linear-gradient(#9356DC, #99E2D0);
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  z-index: calc(10 - 1);
}
.load__bar--2 {
  background: #9356DC;
  -webkit-animation-delay: 166.6666666667ms;
          animation-delay: 166.6666666667ms;
  z-index: calc(10 - 2);
}
.load__bar--3 {
  background: #9356DC;
  -webkit-animation-delay: 333.3333333333ms;
          animation-delay: 333.3333333333ms;
  z-index: calc(10 - 3);
}
.load__bar--4 {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  z-index: calc(10 - 4);
}
.load__bar--5 {
  background: #FF79DA;
  -webkit-animation-delay: 666.6666666667ms;
          animation-delay: 666.6666666667ms;
  z-index: calc(10 - 5);
}
.load__bar--6 {
  background: #FF79DA;
  -webkit-animation-delay: 833.3333333333ms;
          animation-delay: 833.3333333333ms;
  z-index: calc(10 - 6);
}
.load__bar--7 {
  background: linear-gradient(#99E2D0, #FF79DA);
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  z-index: calc(10 - 7);
}
.load__bar--8 {
  background: #99E2D0;
  -webkit-animation-delay: 1166.6666666667ms;
          animation-delay: 1166.6666666667ms;
  z-index: calc(10 - 8);
}
.load__bar--9 {
  background: #99E2D0;
  -webkit-animation-delay: 1333.3333333333ms;
          animation-delay: 1333.3333333333ms;
  z-index: calc(10 - 9);
}

@-webkit-keyframes loading {
  0%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loading {
  0%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loading__bars {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes loading__bars {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 991px) {
  .navigation {
    flex-direction: row-reverse;
  }
}

.location {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0px;
  background-color: #e2e2e2;
  border-top: 2px solid #d1d1d1;
}
.location__icon {
  color: #474747;
  margin-right: 20px;
}

.presentation {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  padding: 30px 30px 50px 30px;
  background-color: #F2F2F2;
}
@media screen and (min-width: 991px) {
  .presentation {
    width: 60%;
    background-color: #FFF;
  }
}

.working {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 25px 40px 25px;
}
@media screen and (min-width: 576px) {
  .working {
    align-items: center;
  }
}
@media screen and (min-width: 991px) {
  .working {
    width: 40%;
  }
}
.working__title {
  margin-bottom: 20px;
}

.step {
  position: relative;
  padding: 20px 30px;
  max-width: 350px;
  width: 100%;
  margin: 0px auto;
  background-color: #f5f5f5;
  box-shadow: 3px 3px 5px #cacaca;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}
.step--1::before {
  content: "1";
  color: #FFF;
  position: absolute;
  left: -13px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  width: 26px;
  height: 26px;
  background-color: #9356DC;
  border-radius: 50%;
  z-index: 1;
}
.step--2::before {
  content: "2";
  color: #FFF;
  position: absolute;
  left: -13px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  width: 26px;
  height: 26px;
  background-color: #9356DC;
  border-radius: 50%;
  z-index: 1;
}
.step--3::before {
  content: "3";
  color: #FFF;
  position: absolute;
  left: -13px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  width: 26px;
  height: 26px;
  background-color: #9356DC;
  border-radius: 50%;
  z-index: 1;
}
.step:hover {
  background-color: #F5EDFF;
  transform: scale(1.02);
  box-shadow: 3px 3px 5px #808080;
}
.step:hover > .step__icon {
  color: #9356DC;
}
.step__icon {
  margin-right: 20px;
  color: #818181;
}

.restaurant {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}
.restaurant__title {
  margin-bottom: 20px;
}
.restaurant__list {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.restaurant--like {
  position: relative;
}

.menu {
  background-color: #F2F2F2;
}
.menu__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 20px;
}
@media screen and (min-width: 991px) {
  .menu__header {
    justify-content: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.menu__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 991px) {
  .menu__content {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.menu__header, .menu__content {
  width: 100%;
  margin: 0px auto;
}
@media screen and (min-width: 576px) {
  .menu__header, .menu__content {
    max-width: 609px;
  }
}
@media screen and (min-width: 991px) {
  .menu__header, .menu__content {
    max-width: 1440px;
  }
}
.menu__like {
  position: relative;
}
.menu__illustration {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 576px) {
  .menu__illustration {
    height: 300px;
  }
}
@media screen and (min-width: 576px) {
  .menu__title {
    font-size: 25px;
  }
}
.menu__title::after {
  content: " ";
  height: 20px;
  width: 100%;
  background-color: #F2F2F2;
  position: absolute;
  top: -20px;
  left: 0px;
  border-radius: 25px 25px 0px 0px;
  z-index: 1;
}

.partMenu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 15px 15px 30px 15px;
}
@media screen and (min-width: 991px) {
  .partMenu {
    width: 30%;
  }
}
.partMenu__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #818181;
  font-weight: unset;
  position: relative;
  margin-bottom: 5px;
}
.partMenu__title::after {
  content: " ";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0px;
  top: 22px;
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 3px 3px 8px #cacaca;
  overflow: hidden;
  -webkit-animation: dish__revelation 1s both ease-in-out;
          animation: dish__revelation 1s both ease-in-out;
}
.dish--1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.dish--2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.dish--3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.dish--4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.dish--5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.dish--6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.dish--7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.dish--8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.dish--9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.dish--10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.dish__info {
  padding: 0px 0px 10px 10px;
  min-width: 100px;
}
.dish__title {
  font-size: 14px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__description {
  color: #818181;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__price {
  padding: 0px 20px 10px 0px;
  padding-right: 20px;
  font-size: 13px;
}
.dish__animation {
  display: flex;
  align-items: flex-end;
}
.dish__select {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  height: 60px;
  width: 0px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  transform: translateX(40px);
  transform-origin: right;
  transition: all 0.5s ease-in-out;
}
.dish:hover {
  box-shadow: 3px 3px 5px #808080;
}
.dish:hover > .dish__animation > .dish__select {
  width: 60px;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}
.dish:hover > .dish__animation > .dish__select > i {
  transform: rotateZ(360deg);
  transition: transform 0.5s 0.1s ease-in-out;
}

.validation {
  text-align: center;
  padding: 40px 0px 60px;
}

@-webkit-keyframes dish__revelation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes dish__revelation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */