@use '../Utils/var';

.button {
    display: block;
    margin: auto;
    padding: 15px 20px;
    color: #FFF;
    background: linear-gradient(var.$color-secondary, var.$color-primary);
    border-radius: 50px;
    box-shadow: 3px 3px 5px #CACACA;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    filter: brightness(1.2);
    box-shadow: 3px 3px 5px #808080;
    transition: all 0.3s ease-in-out;
}

.button--validation {
    width: 150px;
}