@use '../Utils/var';

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.title {
    font-size: 20px;
}

.title--primary {
    font-family: 'Shrikhand', sans-serif;
}
