* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.title {
    font-size: 24px;
}

.title--primary {
    font-family: 'Shrikhand', sans-serif;
}

.button {
    display: block;
    margin: auto;
    padding: 15px 20px;
    color: #FFF;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 50px;
    box-shadow: 3px 3px 5px #CACACA;
    transition: 0.5s;
}

.button:hover {
    filter: brightness(1.2);
    box-shadow: 3px 3px 5px #808080;
}

.button--validation {
    width: 150px;
}

.icon--like {
    font-size: 22px;
    background: #818181;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in;
}

.icon--like:hover {
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}