@use '../Utils/var';

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.title {
    font-size: 20px;
}

.title--primary {
    font-family: 'Shrikhand', sans-serif;
}

.button {
    display: block;
    margin: auto;
    padding: 15px 20px;
    color: #FFF;
    background: linear-gradient(var.$color-secondary, var.$color-primary);
    border-radius: 50px;
    box-shadow: 3px 3px 5px #CACACA;
    transition: 0.5s;
}

.button:hover {
    filter: brightness(1.2);
    box-shadow: 3px 3px 5px #808080;
}

.button--validation {
    width: 150px;
}

.icon--like {
    font-size: 22px;
    color: #818181;
    z-index: 1;
}

.icon--like--fill {
    position:absolute;
    left: 0px;
    font-weight: bold;
    font-size: 22px;
    background: linear-gradient(var.$color-primary, var.$color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(0);
    z-index: 0;
}

.icon--like:hover + .icon--like--fill {
    animation: fill__like 0.3s forwards ease-in-out;
}

@keyframes fill__like {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}