.header {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    position: relative;
    &__logo {
    width: 50%;
    max-width: 392px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-size: 14px;
    background-color: #3b3b3b;
    padding: 20px 0px 40px 20px;
    color: #FFF;
    @media screen and (min-width: 576px) {
        align-items: center;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        @media screen and (min-width: 576px) {
            flex-flow: row wrap;
            width: 100%;
            justify-content: space-around;
        }
    }
    &__title {
        margin-bottom: 10px;
        font-weight: unset;
        font-size: 18px;
    }
    &__link {
        display: inline-block;
        color: #FFF;
    }
    &__icon {
        margin-right: 10px;
    }
}