@use '../Utils/var';

.icon {
    &__like {
        font-size: 22px;
        color: #818181;
        z-index: 0;
        &--fill {
            position:absolute;
            left: 0px;
            font-weight: bold;
            font-size: 22px;
            background: linear-gradient(var.$color-primary, var.$color-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            z-index: 1;
            &:hover {
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }
    &__backIndex {
        position: absolute;
        font-size: 22px;
        font-weight: bold;
        left: 15px;
        top: 35%;
    }
}
