@use '../Utils/var';

$num-bars: 9;
$anim-dur: 1500ms;
$anim-delay: calc($anim-dur / $num-bars);

.load {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 1;
    animation: loading 3000ms forwards;
    z-index: 10;
    &__bar {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 90% 0% 90% 10%;
        transform-origin: 0% 130%;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                background: nth(var.$list_loading_color, $i);
                animation-delay: $anim-delay * ($i - 1);
                z-index: calc(10 - #{$i});
            }
        }
        animation: loading__bars $anim-dur backwards infinite linear;
    }
}

@keyframes loading {
    0%, 75% {
        opacity: 1;
        z-index: 10;
        overflow: hidden;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loading__bars {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
