@use '../Utils/var';

$num-bars: 9;
$anim-dur: 1000ms;
$anim-delay: calc($anim-dur / $num-bars);

.load__container {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    position: fixed;
    opacity: 1;
    animation: loading 3000ms forwards;
    z-index: 10;
}

.load {
    position: relative;
}

.load__bar {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 42vh 0px;
    border-radius: 90% 0% 90% 10%;
    transform-origin: 0% 130%;
    &--1 {
        background: linear-gradient(var.$color-primary, var.$color-tertiary);
    }
    &--2 {
        background-color: var.$color-primary;
    }
    &--3 {
        background-color: var.$color-primary;
    }
    &--4 {
        background: linear-gradient(var.$color-secondary, var.$color-primary);
    }
    &--5 {
        background-color: var.$color-secondary;
    }
    &--6 {
        background-color: var.$color-secondary;
    }
    &--7 {
        background: linear-gradient(var.$color-tertiary, var.$color-secondary);
    }
    &--8 {
        background-color: var.$color-tertiary;
    }
    &--9 {
        background-color: var.$color-tertiary;
    }
    animation: loading__bars $anim-dur backwards infinite linear;
    @for $i from 1 through $num-bars {
        &--#{$i} {
            animation-delay: $anim-delay * ($i - 1);
        }
    }
}

@keyframes loading {
    0%, 75% {
        opacity: 1;
        z-index: 10;
        overflow: hidden;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loading__bars {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
