$color-primary : #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$list_loading_color: linear-gradient($color-primary, $color-tertiary), $color-primary, $color-primary, 
                        linear-gradient($color-secondary, $color-primary), $color-secondary, $color-secondary,
                        linear-gradient($color-tertiary, $color-secondary), $color-tertiary, $color-tertiary;