@use '../Utils/var';
@use '../Utils/mixinMQ';

.navigation {
    display: flex;
    flex-direction: column;
    @include mixinMQ.desktop {
        flex-direction: row-reverse;
    }
}

.location {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0px;
    background-color: #e2e2e2;
    border-top: 2px solid #d1d1d1;
    &__icon {
        color: #474747;
        margin-right: 20px;
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 30px 30px 50px 30px;
    background-color: #F2F2F2;
    @include mixinMQ.desktop {
        width: 60%;
        background-color: #FFF;
    }
}

.working {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px 25px 40px 25px;
    @include mixinMQ.tablette {
        align-items: center;
    }
    @include mixinMQ.desktop {
        width: 40%;
    }
    &__title {
        margin-bottom: 20px;
    }
}

.step {
    position: relative;
    padding: 20px 30px;
    max-width: 350px;
    width: 100%;
    margin: 0px auto;
    background-color: #f5f5f5;
    box-shadow: 3px 3px 5px #cacaca;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    @for $i from 1 through 3 {
        &--#{$i}::before {
            content: '#{$i}';
            color: #FFF;
            position: absolute;
            left: -13px;
            top: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 200;
            width: 26px;
            height: 26px;
            background-color: var.$color-primary;
            border-radius: 50%;
            z-index: 1;
        }
    }
    &:hover {
        background-color: #F5EDFF;
        transform: scale(1.02);
        box-shadow: 3px 3px 5px #808080;
        & > .step__icon {
            color: var.$color-primary;
        }
    }
    &__icon {
        margin-right: 20px;
        color: #818181;
    }
}

.restaurant {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    &__title {
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        row-gap: 20px;
        column-gap: 20px;
    }
}

.restaurant--like {
    position: relative;
}
