@use '../Utils/var';
@use '../Utils/mixinMQ';

$num-dish: 10;
$anim-dur: 1s;
$anim-delay: calc($anim-dur / $num-dish);

.menu {
    background-color: #F2F2F2;
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px 0px 20px;
        @include mixinMQ.desktop {
            justify-content: center;
            column-gap: 50px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include mixinMQ.desktop {
            flex-direction: row;
            justify-content: center;
            column-gap: 10px;
        }
    }
    &__header, &__content {
        width: 100%;
        margin: 0px auto;
        @include mixinMQ.tablette {
            max-width: 609px;
        }
        @include mixinMQ.desktop {
            max-width: 1440px;
        }
    }
    &__like {
        position: relative;
    }
    &__illustration {
        width: 100%;
        height: 200px;
        object-fit: cover;
        @include mixinMQ.tablette {
            height: 300px;
        }
    }
    &__title {
        @media screen and (min-width: 576px) {
            font-size: 25px;
        }
    }
    &__title::after {
        content: ' ';
        height: 20px;
        width: 100%;
        background-color: #F2F2F2;
        position: absolute;
        top: -20px;
        left: 0px;
        border-radius: 25px 25px 0px 0px;
        z-index: 1;
    }
}

.partMenu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px 15px 30px 15px;
    @media screen and (min-width: 991px) {
        width: 30%;
    }
    &__title {
        text-transform: uppercase;
        font-size: 16px;
        color: #818181;
        font-weight: unset;
        position: relative;
        margin-bottom: 5px;
        &::after {
            content: ' ';
            width: 40px;
            height: 3px;
            background-color: var.$color-tertiary;
            position: absolute;
            left: 0px;
            top: 22px;
        }
    }
}

.dish {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 3px 3px 8px #cacaca;
    overflow: hidden;
    animation: dish__revelation $anim-dur both ease-in-out;
    @for $i from 1 through $num-dish {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    &__info {
        padding: 0px 0px 10px 10px;
        min-width: 100px;
    }
    &__title {
        font-size: 14px;
        margin-bottom: 5px;
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__description {
        color: #818181;
        font-size: 12px;
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__price {
        padding: 0px 20px 10px 0px;
        padding-right: 20px;
        font-size: 13px;
    }
    &__animation {
        display: flex;
        align-items: flex-end;
    }
    &__select {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var.$color-tertiary;
        height: 60px;
        width: 0px;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        transform: translateX(40px);
        transform-origin: right;
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        box-shadow: 3px 3px 5px #808080;
    }
    &:hover > .dish__animation > .dish__select {
        width: 60px;
        transform: translateX(0px);
        transition: all .5s ease-in-out;
        & > i {
            transform: rotateZ(360deg);
            transition: transform 0.5s 0.1s ease-in-out;
        }
    }
}

.validation {
    text-align: center;
    padding: 40px 0px 60px;
}

@keyframes dish__revelation {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}