.menu {
    background-color: #F2F2F2;
}

.icon--backIndex {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    left: 15px;
    top: 22px;
}

.menu--illustration {
    width: 100%;
}

.title--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 20px;
}

.partMenu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px 15px 30px 15px
}

.title--partMenu {
    text-transform: uppercase;
    font-size: 16px;
    color: #818181;
    font-weight: unset;
    position: relative;
    margin-bottom: 5px;
}

.title--partMenu::after {
    content: ' ';
    width: 40px;
    height: 3px;
    background-color: $color-tertiary;
    position: absolute;
    left: 0px;
    top: 22px;
}

.dish {
    display: flex;
    padding: 10px 20px 10px 10px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 3px 3px 8px #cacaca;
}

.dish--title {
    font-size: 16px;
    margin-bottom: 5px;
}

.dish--description {
    color: #818181;
    font-size: 14px;
}

.dish--price {
    font-size: 14px;
}

.validation {
    text-align: center;
    padding: 40px 0px 60px;
}